@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  & h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
    &:hover {
      background: rgb(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
  & button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
    &:hover {
      background: rgb(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}

.prompt {
  position: absolute;
  top: 3%;
  right: 1%;
  color: #000;
  font-size: 1.4rem;
  background: #fff;
  padding: 5px;
  border: 1px solid #000;
}

.change {
  flex: 1;
  border: 3px solid #000;
  display: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}

@media (width <= 425px) {
  body {
    flex-direction: column;
  }

  .col {
    flex-direction: row;
  }

  .prompt {
    display: none;
  }

  .change {
    display: flex;
  }
}
